<div class="post">
	<div class="postContent">
		<%= post.text %>
	</div>
	<div class="comments">
		<div class="commentsField">
			<%= form_for(@comment, url: "/post/comments/create", remote: true) do |f| %>
				<!-- TODO as in OH MY GOD DO THIS NOW: figure out how the hell to get it the route I want, then put it there -->
				<%= f.text_field :text %>
			<% end %>
		</div>
		<div class="commentRender">
			<%= render post.comments %>
		</div>
	</div>
</div>
