<div id="container">
	<%= form_for(@post, url: posts_path, remote: true) do |f| %>
		<p>
			New post
		</p>
		<p>
			<%= f.text_area :text %>
		</p>
		<p>
			<%= f.submit %>
		</p>
	<% end %>

	<div id="posts">
		<%= render @posts %>
	</div>
</div>
